<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/styles-jobs-post-jobs.css">
    <title>Update Job</title>
</head>
<body>
	<h1>Update Job</h1>
	<form id="editJobForm" method="POST" action="/jobs/updateJobs/<%= job.id %>">		
  		<!-- Hidden input for Job ID -->
  		<input type="hidden" name="id" value="<%= job.id %>">

  		<label for="title">Job Title</label>
  		<input type="text" id="title" name="title" value="<%= job.title %>" required>

  		<label for="description">Job Description</label>
  		<textarea id="description" name="job_description" rows="5" required><%= job.job_description %></textarea>

  		<label for="salary">Salary (£)</label>
  		<input type="number" id="salary" name="salary" value="<%= job.salary %>" required>

  		<label for="location">Location</label>
  		<input type="text" id="location" name="location" value="<%= job.location %>" required>
		<!-- <label for="applicationLimit">Application Limit</label>
		<input type="number" id="applicationLimit" name="application_limit" value="<%= job.application_limit %>">

		<label for="expirationDate">Expiration Date</label>
		<input type="date" id="expirationDate" name="expiration_date" value="<%= job.expiration_date %>">  -->

		<button type="submit" class="btn">Update Job</button>
</form>
</body>
</html>